/* Colors */
$white-border: #f3f3f3;
$main-text: #060b35;
$text: #616070;
$blue: #00acdc;
$white: #fff;
$nav-link-color: #060b35;
$card-title-hover: #34568b;

/* Font Weights */
$light-font: 400;
$medium-font: 500;
$bold-font: 700;

/* Font Sizes */
$small-size: 10px;
$small-semi-size: 12px;
$medium-size: 16px;
